.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.call-to-action-box {
    display: flex;
    justify-content: center;
}

.linus-button {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.linus-head-container:hover {
    transform: rotate(360deg);
    transition: all 1s;
}

.linus-head-container:active {
    transform: scale(1.2);
    transition: all 200ms;
}

.commits-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.list-container {
    display: flex;
    justify-content: center;
    width: 400px;
}

li {
    list-style: none;
    margin-bottom: 10px;
}